covid_confirmed_usafacts

|   Name   | Definition | Data Type | Possible values | Required?|
|----------|----------|----------|----------|----------|
|   countyFIPS  |   Unique County indentifier  |   int   | 1001, 1005, 2100 | Yes
|   County Name  |   Name of the county  |   string  | Alamance County, Orange County | Yes |
|   State  |   State Abbreviation   |   string   | NC, NY, TN | yes |
|   State FIPS | Unique State Identifier | int | 01, 03, 22, 50 | yes |
| Date | Number of deaths per date | int | 0, 1, 500 | yes |

covid_deaths_usafacts

| Name | Definition | Data Type | Possible values | Required? |
|----------|----------|----------|-----------|-----------|
| countyFIPS |Unique County identifier | int |     1001,1003,1005      |      yes      |
| County Name| Name of the county | string | Hale County, Davidson County| yes |
| State  |   State Abreviation |  string  | NC, AL, TN | yes |
| StateFIPS |  Unique State identifier | int | 01, 22, 56 |  yes | 
| Date  |   number of deaths per date | int | 0, 1, 100 | yes |

covid_county_population_usafacts

| Name | Definition | Data Type | Possible values | Required? |
|----------|----------|----------|-----------|-----------|
| countyFIPS |Unique County identifier | int |     1001,1003,1005      |      yes      |
| County Name| Name of the county | string | Hale County, Davidson County| yes |
| State  |   State Abreviation |  string  | NC, AL, TN | yes |
| Population |  number of people living in the county | int | 55869, 11567, 102268 |  yes |

In [1]:
import pandas as pd

df = pd.read_csv('covid_confirmed_usafacts.csv')

df

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12645,12645,12645,12645,12645,12645,12645,12645,12645,12645
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,12206,12206,12206,12206,12206,12206,12206,12206,12206,12206
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6468,6468,6468,6468,6468,6468,6468,6468,6468,6468
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2640,2640,2640,2640,2640,2640,2640,2640,2640,2640
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1914,1914,1914,1914,1914,1914,1914,1914,1914,1914

In [2]:
import pandas as pd

df = pd.read_csv('covid_deaths_usafacts.csv')

df

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [3]:
import pandas as pd

df = pd.read_csv('covid_county_population_usafacts.csv')

df

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [2]:
import pandas as pd

cases_df = pd.read_csv('covid_confirmed_usafacts.csv')
deaths_df = pd.read_csv('covid_deaths_usafacts.csv')
population_df = pd.read_csv('covid_county_population_usafacts.csv')


merged_cases_deaths = pd.merge(cases_df, deaths_df, on=['countyFIPS', 'County Name', 'State'], suffixes=('_cases', '_deaths'))


super_covid_df = pd.merge(merged_cases_deaths, population_df, on=['countyFIPS', 'State'])

merged_df = super_covid_df.drop_duplicates()


print(merged_df)

merged_df.to_csv('super_covid19_data.csv', index=False)

      countyFIPS          County Name_x State  StateFIPS_cases  \
0              0  Statewide Unallocated    AL                1
1           1001        Autauga County     AL                1
2           1003        Baldwin County     AL                1
3           1005        Barbour County     AL                1
4           1007           Bibb County     AL                1
...          ...                    ...   ...              ...
3188       56037     Sweetwater County     WY               56
3189       56039          Teton County     WY               56
3190       56041          Uinta County     WY               56
3191       56043       Washakie County     WY               56
3192       56045         Weston County     WY               56

      2020-01-22_cases  2020-01-23_cases  2020-01-24_cases  2020-01-25_cases  \
0                    0                 0                 0                 0
1                    0                 0                 0                 0
2                    0                 0                 0                 0
3                    0                 0                 0                 0
4                    0                 0                 0                 0
...                ...               ...               ...               ...
3188                 0                 0                 0                 0
3189                 0                 0                 0                 0
3190                 0                 0                 0                 0
3191                 0                 0                 0                 0
3192                 0                 0                 0                 0

      2020-01-26_cases  2020-01-27_cases  ...  2023-07-16_deaths  \
0                    0                 0  ...                  0
1                    0                 0  ...                235
2                    0                 0  ...                731
3                    0                 0  ...                104
4                    0                 0  ...                111
...                ...               ...  ...                ...
3188                 0                 0  ...                142
3189                 0                 0  ...                 16
3190                 0                 0  ...                 43
3191                 0                 0  ...                 51
3192                 0                 0  ...                 24

      2023-07-17_deaths  2023-07-18_deaths  2023-07-19_deaths  \
0                     0                  0                  0
1                   235                235                235
2                   731                731                731
3                   104                104                104
4                   111                111                111
...                 ...                ...                ...
3188                142                142                142
3189                 16                 16                 16
3190                 43                 43                 43
3191                 51                 51                 51
3192                 24                 24                 24

      2023-07-20_deaths  2023-07-21_deaths  2023-07-22_deaths  \
0                     0                  0                  0
1                   235                235                235
2                   731                731                731
3                   104                104                104
4                   111                111                111
...                 ...                ...                ...
3188                142                142                142
3189                 16                 16                 16
3190                 43                 43                 43
3191                 51                 51                 51
3192                 24                 24                 24

      2023-07-23_deaths          County Name_y  population
0                     0  Statewide Unallocated           0
1                   235         Autauga County       55869
2                   731         Baldwin County      223234
3                   104         Barbour County       24686
4                   111            Bibb County       22394
...                 ...                    ...         ...
3188                142      Sweetwater County       42343
3189                 16           Teton County       23464
3190                 43           Uinta County       20226
3191                 51        Washakie County        7805
3192                 24          Weston County        6927

[3193 rows x 2537 columns]